.wholePage {
    display: flex;
}

h1 {
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    background-color: red;
    height: 26px;
}

.leftSidePage {
    background-image: url("background.jpg");
    border: red solid 1px;
}

.leftSidePageContent {
    padding-left: 25px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.rightSidePage {
    text-align: center;
    border: red solid 1px;
}

.rightSidePage > div:first-child {
    padding: 100px 100px 0px 100px;
}

.hotelsoftLogo {
    width: 400px;
    height: 100px;
}

div.leftSidePage > div > h1 {
    color: white;
}

div.introSection {
    color: white;
}
.introSection {
    color: white;
}

div.servicesSection {
    color: black;
    display: flex;
}

div.servicesSection > .card1, .card2, .card3 {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

div.productsSection {
    color: black;
    display: flex;
}

div.productsSection > .card1, .card2, .card3 {
    background-color: white;
    font-size: 20px;
    text-align: center;
    margin: 10px;
}

